.home {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}
.both {
}
.cart-button {
  margin-left: 227px;
  margin-top: 50px;
  text-align: start;
}
